button {
  @apply inline-flex items-center leading-tight text-base font-bold py-2 px-6 bg-grey-light text-grey-darkest;
}

button.disabled {
  @apply opacity-50 cursor-not-allowed;
}

button:hover {
  @apply bg-grey;
}

button:focus {
  outline: 0;
}

button.small {
  @apply text-sm py-2 px-4;
}

button.large {
  @apply text-xl py-3 px-6;
}

button.blue {
  @apply bg-blue text-white;
}

button.blue:hover {
  @apply bg-blue-dark;
}

button.outline.blue {
  @apply border-blue bg-transparent border text-blue-dark;
}

button.outline.blue:hover {
  @apply bg-blue text-blue-dark text-white border-transparent;
}

button.green {
  @apply bg-green text-white;
}

button.green:hover {
  @apply bg-green-light;
}
button.outline.green {
  @apply border-green bg-transparent border text-green-dark;
}

button.outline.green:hover {
  @apply bg-green text-green-dark text-white border-transparent;
}

button.red {
  @apply bg-red text-white;
}

button.red:hover {
  @apply bg-red-light;
}
button.outline.red {
  @apply border-red bg-transparent border text-red-dark;
}

button.outline.red:hover {
  @apply bg-red text-red-dark text-white border-transparent;
}