<div tabindex="0" class="relative inline-block cursor- w-full shadow">

  <div tabindex="0" class="pt-2 pb-2 pr-4 border rounded flex items-center justify-between active:border-{
    color}  hover:border-{
    color}">
  <input readonly on:click='toggleOpen(event)' on:blur='close(event)' class="pt-0 pb-0 shadow-none cursor-default appearance-none w-full  bg-white border-0 font-normal active:border-0 hover:border-0" value={selectedDate ? (format === 'full' ? selectedDate.toDateString() : selectedDate.toLocaleDateString()) : placeholder}>
   <!--
        <span class="pr-2 text-grey-dark">
      {{selectedDate ? (format === 'full' ? selectedDate.toDateString() : selectedDate.toLocaleDateString()) : placeholder}}
    </span>
  
    <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
    </svg>
  
  </input>
-->
<svg on:click='toggleOpen(event)' on:blur='close(event)' class="fill-current h-4 w-4" viewBox="0 0 20 20">
  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
</svg>
</div>

  {#if open }
  <div transition:fade='{delay: 0, duration: 100}'>
    <div class="absolute border border-grey-light bg-white rounded z-10 shadow w-64 pb-2">

      <div class="w-full text-center p-2 flex justify-between">

        <svg id="pre" on:click="prev(event)" on:blur='close(event)' class="fill-current h-6 w-6 bg-transparent hover:bg-{color} pr-1 pl-1 pt-0 pb-0 rounded-full  hover:text-white"
          viewBox="0 0 12 32">
          <path d="M11.196 10c0 0.143-0.071 0.304-0.179 0.411l-7.018 7.018 7.018 7.018c0.107 0.107 0.179 0.268 0.179 0.411s-0.071 0.304-0.179 0.411l-0.893 0.893c-0.107 0.107-0.268 0.179-0.411 0.179s-0.304-0.071-0.411-0.179l-8.321-8.321c-0.107-0.107-0.179-0.268-0.179-0.411s0.071-0.304 0.179-0.411l8.321-8.321c0.107-0.107 0.268-0.179 0.411-0.179s0.304 0.071 0.411 0.179l0.893 0.893c0.107 0.107 0.179 0.25 0.179 0.411z"></path>
        </svg>
        {#if monthCard} {selectedYear} {:else}
        <button id="changeMY" on:click="changeMY(event)" class="pt-1 small uppercase bg-transparent hover:bg-{color} hover:text-white rounded-full">{selectedMonth} {selectedYear} </button>
        {/if}
        <svg id="next" on:click="next(event)" on:blur='close(event)' class="fill-current h-6 w-6 bg-transparent hover:bg-{color} pr-1 pl-1 pt-0 pb-0 rounded-full  hover:text-white"
          viewBox="0 0 11 32">
          <path d="M10.625 17.429c0 0.143-0.071 0.304-0.179 0.411l-8.321 8.321c-0.107 0.107-0.268 0.179-0.411 0.179s-0.304-0.071-0.411-0.179l-0.893-0.893c-0.107-0.107-0.179-0.25-0.179-0.411 0-0.143 0.071-0.304 0.179-0.411l7.018-7.018-7.018-7.018c-0.107-0.107-0.179-0.268-0.179-0.411s0.071-0.304 0.179-0.411l0.893-0.893c0.107-0.107 0.268-0.179 0.411-0.179s0.304 0.071 0.411 0.179l8.321 8.321c0.107 0.107 0.179 0.268 0.179 0.411z"></path>
        </svg>

      </div>

      {#if monthCard}
      <div class="flex justify-center flex-wrap">
        {#each months as month}
        <button on:click="onSelect(event)" id="{month}" class="outline w-12 pt-1 pb-1 pr-8 pl-8 bg-white rounded-full border-grey-light hover:border-{color} hover:bg-{color} {selectedDay === day ? 'bg-green text-white' : ''} hover:text-white text-sm flex justify-center">{month}</button>
        {/each}
      </div>
      {:else}
      <div class="flex justify-around pt-1 px-2 py-2 text-grey text-sm">
        <span>Su</span>
        <span>Mo</span>
        <span>Tu</span>
        <span>We</span>
        <span>Th</span>
        <span>Fr</span>
        <span>Sa</span>
      </div>
      <div class="flex justify-center flex-wrap">
        {#each days as day} {#if day != ''}
        <button on:click="onSelect(event)" on:keypress="onSelect(event)" id="{day}" class="outline w-8 pt-1 pb-1 pr-4 pl-4 bg-white rounded-full border-grey-light hover:border-{color} hover:bg-{color} {selectedDay === day ? `bg-${color} text-white` : ''} hover:text-white text-sm flex justify-center">{day}</button>
        {:else}
        <div class=" w-8 pt-1 pb-1 pr-4 pl-4"></div>
        {/if} {/each}
      </div>

      {/if}

    </div>
  </div>
  {/if}
</div>

<script>
  let days = [];
  const currentDate = new Date();
  const nextYear = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 1)
  //const current = new Date(now.getFullYear(), now.getMonth()+1, 1);
    import {
    fade
  } from 'svelte-transitions';
  export default {
    transitions: {
      fade
    },
       data() {
      return {
        days: [],
        months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        selectedDate: null,
        selectedDay: 1,
        placeholder: 'Select a date',
        color: 'grey',
        open: false,
        monthCard: false,
        format: 'full' // full or short
      }
    },
    computed: {
      selectedMonth: selectedDate => {
        if (selectedDate) {
          return selectedDate.toLocaleString('en-us', {
            month: 'long'
          })
        } else {
          const d = new Date()
          return d.toLocaleString('en-us', {
            month: 'long'
          })
        }
      },
      //  selectedMonthNo: selectedDate => selectedDate.getMonth(),
      selectedYear: selectedDate => {
        if (selectedDate) {
          return selectedDate.getFullYear()
        } else {
          const d = new Date()
          return d.getFullYear()
        }
      }
    },
    oncreate() {
      this.set({color: 'red'})
      this.observe('selectedDate', date => {
        if(!date) {
          date = new Date()
        }
            const daysInMonth = (new Date(date.getFullYear(), date.getMonth() + 1, 0)).getDate()
        this.set({
          selectedDay: date.getDate()
        })
        const firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        let clanderDays = []
        let extra = 0
        for (let i = 0; i <= 36; i++) {

          if (i >= firstDay.getDay() && i < daysInMonth + extra) {
            clanderDays[i] = i - (firstDay.getDay() - 1)
          } else {
            clanderDays[i] = ''
            extra++
          }
        }

        this.set({
          days: []
        })
        this.set({
          days: clanderDays
        })

      })
    },

    methods: {
      changeMY(event) {
        this.set({
          monthCard: true
        })
      },
      next(event) {
        event.preventDefault();
        if (this.get('monthCard')) {
          this.set({
            selectedDate: new Date(this.get('selectedYear') + 1, this.get('selectedDate').getMonth(), this.get(
              'selectedDay'))
          })

        } else {
          let monthDate = null
          let selDate = this.get('selectedDate') || new Date()

          monthDate = new Date(selDate.getFullYear(), selDate.getMonth() + 1, 1)
          this.set({
            selectedDate: new Date(monthDate.getFullYear(), monthDate.getMonth(), this.get('selectedDay'))
          })
        }
      },
      prev() {
        event.preventDefault();
        if (this.get('monthCard')) {
          this.set({
            selectedDate: new Date(this.get('selectedYear') - 1, this.get('selectedDate').getMonth(), this.get(
              'selectedDay'))
          })

        } else {
          let monthDate = null
          let selDate = this.get('selectedDate')
          monthDate = new Date(selDate.getFullYear(), selDate.getMonth() - 1, 1)
          this.set({
            selectedDate: new Date(monthDate.getFullYear(), monthDate.getMonth(), this.get('selectedDay'))
          })
        }
      },
      toggleOpen() {
        event.preventDefault();
        this.set({
          open: !this.get("open")
        });
        this.set({
          monthCard: false
        });
      },
      close(event) {
        event.preventDefault();
        if (event.relatedTarget === null || event.relatedTarget.id != 'pre' && event.relatedTarget.id != 'next' &&
          event.relatedTarget.id != 'changeMY') {

          this.set({
            open: false
          });
          this.set({
            monthCard: false
          });
        }
      },
      onSelect(event) {
        event.preventDefault();
        if (this.get('monthCard')) {
          this.set({
            monthCard: false
          });
          this.set({
            selectedDate: new Date(this.get('selectedYear'), this.get('months').indexOf(event.target.id), this.get(
              'selectedDay'))
          })


        } else {
          this.set({
            open: false
          });
          this.set({
            selectedDay: event.target.id
          })

          this.set({
            selectedDate: new Date(this.get('selectedYear'), this.get('months').indexOf(this.get('selectedMonth').substring(0,3)), this.get(
              'selectedDay'))
          })
         
        }
        this.fire('selected', this.get('selectedDate'))
      }
    },

  }

</script>

<style>
  select:focus,
  select:focus:invalid,
  svg:focus {
    outline: none;
  }

</style>
